// Adding CSS for post specific features here

.swatch {
  display: inline-block;
  width: 62px;
  height: 62px;
  background: black;
  margin: .5em .375em;
  border-radius: 50%;
}


.swatch-1 { background: #9351a3; }
.swatch-2 { background: #bc5325; }
.swatch-3 { background: #cc3100; }
.swatch-4 { background: #ffc5a8; }
